<!DOCTYPE html>
<html>
<head>
<title>shnarthoCV</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://avatars.githubusercontent.com/u/83227963?v=4" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Md Shahadat Hossen Nayem</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Portugal</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>shnartho@yahoo.com | shnartho@outlook.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+35192048XXXX</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python Scripting</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">85%</div>
          </div>
          <p>Linux Server Administration</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">70%</div>
            </div>
          </div>
          <p>DevOps</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">65%</div>
          </div>
          <p>Cloud (Amazon Webservices)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <p>Web Development</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Python Programming Teacher</b></h4>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2022 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>🟢 Algorithmics is an international programming school for children.
            <br>🟢 I will teach Python & it's frameworks i.e. PyGame, Pandas, PyKyra, Panda3D etc.
            <br>🟢 I will teach Regex and JSON, Web Scraping, Image, Processing, Sending E-Mails, GUI programming, Interacting with Databases, Interacting with CSV and Docs, Data visualisation, Create multiple 3D games using python frameworks and Roblox studio.
            <br>🟢 Carrier path of my students: Data Science, Game Designer, Game Developer etc</p>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>CeDRI - Research Center in Digitalization and Intelligent Robotics</b></h4>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2020 - Jun 2021</h6>
          <p>🟢 Research on Internet of things
            <br>🟢 Helping with Arduino based projects and research</p>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Customer Service ProfessionalCustomer</b></h4>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2020 - July 2020</h6>
          <p>🟢 Customer Support for Instacart USA
            <br>🟢 Database management, Tracking delivery and Resolutions for order issues
            <br>🟢 Used Tools: Zendesk, AWS, Ujet etc</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Instituto Politécnico de Bragança</b></h4>
          <h6 class="w3-opacity"><b>BSc Computer Science Engineering</b></h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020-2023</h6>
          <p>Main subjects/skills will be covered:
            <br>🟢Linear Algebra and Analytic Geometry, Mathematical Analysis, Programming Laboratory, Computer Architecture
            <br>🟢Imperative Programming, Digital Electronics, Discrete Mathematics, Object Oriented Programming
            <br>🟢Statistics, Embedded Systems,Algorithms and Data Structures, Databases I, Operating Systems
            <br>🟢Web Development, Computer Networks, Computer Graphics, Multiplatform development
            <br>🟢Databases II, Software Engineering, Computer Networks II, Application Development
            <br>🟢System and Network Management, Artificial Intelligence, Cybersecurity, Internet of Things, Distributed Systems</p>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Wroclaw University of Science and Technology</b></h4>
          <h6 class="w3-opacity"><b>Erusmus+ Scholarship</b></h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021 - 2022</h6>
          <p>Main subject / occupational skills covered:
            <br>🟢Linux server administration, Advance web techniques(fullstack web development), Programming multimedia application, Mobile applications for android
            <br>🟢Data Bases, Python Scripting, System Analysis and Decision Support Method, Distributed computer systems
            <br>🟢Computer networks, Web system programming, Software engineering, Programming paradigms(scala), Database System engineering</p>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Vistula University</b></h4>
          <h6 class="w3-opacity"><b>Bachelor of Science</b></h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - 2020</h6>
          <p>I have started my bachelor at Vistula University and later decided to continue further education at Polytechnic Institute of Braganca.</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

</body>
</html>
